{% extends 'base.html' %}
{% block content %}

<nav class="bg-white shadow w-full p-4 flex md:flex-row justify-between items-center">
  <div class="container md-mx-auto md:flex-row px-8">
    <a href="">
      <span class="text-indigo-400 text-3xl hover:text-red-400 duration-400">Django Todo</span>
    </a>
  </div>
  <div class="flex md:flex justify-between items-center ">
    <!-- <button class="shadow bg-cyan-400 text-white p-3 mx-3 w-20"></button> -->
    <span>Welcome <a href="" class="text-gray-300">Username</a></span>
  </div>
</nav>

<main class="mt-30 min-h-[90vh]">
  <div class="container my-4 mx-auto  flex-col md:flex-row  gap-3 justify-center items-stretch h-[85vh]">
    <div class="bg-blue-400 md:w-1/4 rounded p-4">
      <!-- all task -->
      <div class="ring rounded text-center p-5 ">
        <h2>All Task <span> {{todo_count}}</span></h2>
      </div>

      <!-- completed -->
      <div class="ring rounded text-center p-5 ">
        <h2>Completed Task <span>{{comp_count}}</span></h2>
      </div>

      <!-- completion rate -->
      <div class="ring rounded text-center p-5 ">
        <h2>Task completion rate <span>50%</span></h2>
      </div>
    </div>
    <!--  add todo -->
    <div class=" bg-white rounded p-4 mt-4 md:mt-0">
      <form action="" method="post" class="container mx-auto">
        {% csrf_token %}
        <input type="text" placeholder="add todo" class="form-input !inline-block w-[70%] bg-gray-200 ring p-3 m-4" name = 'todo'>
        <button type="submit" class="bg-green-50 p-3 bg-red-400"> Add Todo</button>
      </form>

      <div class="">
        <ul class="text-white">
          {% for todo in todos %}
                    <li class="bg-[#333] p-3 m-4"> <a href="{% url 'edit' todo.pk %}">{{todo.todo}}</a> </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    
    <!-- all completed task -->
    <div class="bg-white rounded p-4 mt-4 md:m-0">
      <h2 class="text-3xl font-bold text-center">{{User}} you have completed the following task</h2>
      <ul class="text-white">
        {% for fil in comp %}
                <li class="bg-[#333] p-3 m-4">{{fil}}</li>
        {%endfor%}
      </ul>
    </div>
  </div>
</main>

{% endblock %}